---
title: Front-end, JavaScript and more. By Rafaell Lycan
layout: page
homepage: true
layout_options:
  hide_page_title: true
  class: homepage
---

<section class="homepage__intro">
  <h1 class="homepage__title">Hi there, I'm Kyanne<span>.</span></h1>
  <h5>(It's pronounced like the pepper)</h5>

  <p class="homepage__description">
    I love computers and I love the <s>Internet</s> Web. I want to fight for the future of it.
    <br><br>
    I'm learning how to program in Python. You can follow my journey in my blog:
  </p>
</section>

<section class="homepage__intro">
  <h4 class="title-hero">Recent Articles</h4>

  {% include page/post-list.html limit=5 collection=site.posts %}

  <div class="text-center">
    <a href="/blog" class="btn btn-has-arrow">View all posts</a>
  </div>
</section>
