<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <title>{% if page.title %}{{ page.title }} // {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <style type="text/css">
      @import url({{ /css/master.css | absolute_url }});
    </style>

  <link rel="manifest" href="/manifest.json">

  {% seo %}

  <meta name="twitter:card" content="summary" />

  {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}">
    <meta name="twitter:image" content="{{ page.image | absolute_url }}">
  {% else %}
    <meta property="og:image" content="{{ site.image | absolute_url }}">
    <meta name="twitter:image" content="{{ site.image | absolute_url }}">
  {% endif %}

  {% if page.robots %}
    <meta name="robots" content="{{page.robots}}" />
  {% endif %}

  {% include head/icons.html %}
  {% include head/dns-prefetch.html %}

  {% include head/critical-path.html %}

  <!--[if IE]>
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | absolute_url }}?{{site.time | date: '%s%N'}}">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% if jekyll.environment == "production" %}
    {% include head/gtm.html %}
  {% endif %}

  {% if site.tags != "" %}
    {% include head/collecttags.html %}
  {% endif %}
</head>
