{% assign title = page.title %}

{% capture header_class %}
  {% if page.layout_options.hero %}header--floating{% endif %}
{% endcapture %}

<header class="header {{ header_class | strip }}">
  <a href="/" class="logo">
    <img src="/assets/icons/icon-48x48.png" style="width:35px; height:auto;" alt="{{site.title}}">
  </a>

  <nav class="main-nav">
    <ul class="main-nav__list">
    {% for item in site.navigation %}

      {% capture is_active %}
        {% if title == item.text or page.url contains item.active
          or page.homepage == true and item.text contains 'Home'  %}
          main-nav__link--active
        {% endif %}
      {% endcapture %}

      <li class="main-nav__list-item">
        <a href="{{ item.url }}" class="main-nav__link {{ is_active | strip }}">
          {{ item.text }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </nav>

  <a href="https://github.com/{{site.author.github}}" class="github" title="GitHub">
      {% include icons/github.svg %}
  </a>

  <!-- <div class="menu-button">
    <span class="menu-button__line"></span>
    <span class="menu-button__line"></span>
    <span class="menu-button__line"></span>
  </div> -->
</header>
