.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  font-size: 0.8em;
  padding-top: 2rem;
  background-color: $grey-04;

  &__content {
    padding-bottom: 2rem;
    text-align: center;
  }
}
