.main-nav {
  position: relative;
  font-weight: 700;
  float: right;
  text-align: center;
  flex: 1;
  order: 2;
  flex-basis: 100%;

  @include media(medium) {
    order: 0;
    flex-basis: initial;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__list-item {
    margin: 0 rem(10);
    list-style: none;
    display: inline-block;

    @include media(medium) {
      margin: 0 rem(20);
      order: 0;
      flex-basis: initial;
    }
  }

  &__link {
    position: relative;
    color: inherit;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    transition: all 600ms ease;
    font-weight: 600;
    font-size: $small-font-size;
    text-decoration: none !important;

    &:hover, &:active, &--active {
      color: $pink-02;

      &:after {
        width: 100%;
      }
    }
  }
}
