.page {
  position: relative;
  animation: fade 600ms ease;

  &__header {
    text-align: center;
    padding-bottom: rem(10);
  }

  &__title {
    font-size: rem(60);
    margin-bottom: rem(15);
    text-align: center;
  }

  &__subtitle {
    color: $purple-03;
  }

  &--split {
    display: flex;
    justify-content: center;
  }

  &--split__column {
    width: 50%;
  }
}
