.post {
  position: relative;
  padding-bottom: rem(50);

  &__header {
    text-align: center;
  }

  &__cover {
    width: auto;

    @include media(medium) {
      margin: rem($spacing-unit * 2) rem(-$spacing-unit * 2);
    }

    @include media(large) {
      margin: rem($spacing-unit * 2) rem(-$spacing-unit * 3);
    }

    img {
      width: 100%;
    }

  }

  &__header + &__content {
    margin-top: rem($spacing-unit * 2);
    padding-top: rem($spacing-unit * 2);
    border-top: 1px solid $grey-03;
  }

  &__content {
    position: relative;
    padding-bottom: rem(50);

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
      border: none;
    }
  }

  pre {
    margin: rem($spacing-unit) 0;

    @include media(medium) {
      margin: rem($spacing-unit * 2) rem(-$spacing-unit * 2);
      padding: rem($spacing-unit);
    }

    @include media(large) {
      margin: rem($spacing-unit * 2) rem(-$spacing-unit * 3);
      padding: rem($spacing-unit);
    }
  }

  &__share {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__section-title {
    display: block;
    text-transform: uppercase;
    margin: 0 0 rem(50);
    color: $pink-01;
    font: 700 $base-font-size $body-font-family;
    text-align: center;

    &:after {
      content: '';
      display: block;
      height: 2px;
      width: rem(50px);
      margin: rem(20) auto 0;
      background: $pink-03;
    }
  }

  &__progress {
    background: linear-gradient(to right, $green-01 var(--progress), transparent 0);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 4px;
    top: 0;
    z-index: 102;
    animation: fade 600ms ease;
  }
}
