.info-box {
  padding: rem($spacing-unit / 2);
  margin: rem($spacing-unit) 0;
  background-color: rgba($color-info, .6);
  border-left: rem(8) solid $color-info;
  border-radius: 2px;

  &.success {
    background-color: rgba($color-success, .6);
    border-color: $color-success;
  }

  &.warning {
    background-color: rgba($color-warning, .6);
    border-color: $color-warning;
  }

  &.error {
    background-color: rgba($color-error, .6);
    border-color: $color-error;
  }
}