.menu-button {
  position: fixed;
  top: 30px;
  right: 30px;
  transition: all 300ms;
  height: 45px;
  width: 45px;
  padding-top: 17px;
  padding-left: $small-font-size;
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  visibility: visible;
  opacity: 100;
  box-shadow: 0 0 5px rgba($black,.12);

  @include media(medium) {
    opacity: 0;
    visibility: hidden;
  }

  &:hover &__line {
    background: $black;

    &:last-child {
      width: 20px;
    }
  }

  &--active {
    padding-top: $small-font-size;
    padding-left: $small-font-size;
  }

  &--active &__line {
    transform: rotate(45deg);
    margin-top: 4px;
    margin-bottom: 0;

    &:first-child {
      position: relative;
      top: 6px;
      transform: rotate(-45deg);
    }

    &:last-child {
      display: none;
    }
  }

  &__line {
    transition: all 300ms;
    margin-bottom: 3px;
    height: 2px;
    width: 20px;
    background: $black;
    display: block;

    &:last-child{
      height: 2px;
      width: 14px;
    }
  }
}