.post-list {
  @extend .default-list;
  margin: rem(50) 0;
  animation: fade 600ms ease;

  &__item {
    display: block;
    padding: rem(20) 0;
    border-bottom: 1px solid $grey-04;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }

  }

  &__title {
    margin: rem($spacing-unit / 2) 0;
  }

  &__link {
    display: block;
    color: $black;
    border: 0;
    transition: color 300ms ease-in-out;

    &:hover, &:active {
      color: $blue-02;
    }
  }

  &__description {
    margin-bottom: rem($spacing-unit / 2);
  }

  &__meta {
    // font-family: $heading-font-family;
    font-size: rem(16);
    // letter-spacing: rem(-1);
    text-transform: uppercase;
    // font-style: italic;

    span {
      margin-left: rem($spacing-unit / 2);

      &:before{
        content: '|';
        margin-right: rem($spacing-unit / 2);
      }

    }

    &--decorated {
      // color: $green-02;
    }

    &--center {
      text-align: center;
    }
  }
}