.references-box {
  padding-bottom: rem(50);

  &-list {
    @extend .default-list;
    padding: rem(20);
    border: 3px solid $purple-02;
  }

  li {
    font-size: rem(14);
    margin: rem(5) 0 rem(5) rem(10);

    &:before {
      content: "→";
      color: $purple-03;
    }
  }

  .comment {
    color: $orange-02;
    font-family: $console-font-family;
    padding-left: 4px;
  }
}
