.social-links{
  @extend .default-list;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: rem(50);

  &__item {
    margin: 0 rem(10);
    display: inline-block;
  }

  a {
    border: none;
  }

  svg {
    width: rem(20);
    fill: $grey-02;
    transition: all 300ms ease;
  }

  a:hover svg {
    fill: $lime-01;
  }
}
