.survey {
  padding: rem(10) rem($spacing-unit) rem(50);
  margin: rem(50) 0;
  background: $black;
  font-family: $console-font-family;
  color: $white;
  text-align: center;

  h4 {
    text-align: center;
    text-transform: uppercase;
  }

  a {
    color: $white;
    border-color: $cyan-01;

    &:hover {
      color: $black;
      border-color: $cyan-03;
    }
  }
}
