/**
 * Tables
 */
table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding-right: 15px;
  vertical-align: top;
}

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr > td {
  border-top: 1px solid $grey-03;
}

tr:nth-child(odd)>td {
  background: $block-code-color;
}

thead th,
th {
  text-align: left;
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid $indigo-02;
  cursor: default;
  white-space: nowrap;
}