---
layout: compress
---

<!doctype html>
<html dir="ltr" lang="en">

  {% include head.html %}

  <body class="website">

    {% unless page.layout_options.hide_header %}
      {% include header.html %}
    {% endunless %}

    <main class="wrapper">
      {{ content }}
    </main>

    {% unless page.layout_options.hide_footer %}
      {% include footer.html %}
    {% endunless %}

    {% include scripts.html %}

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ site.conf.gtm_id }}"
        height="0"
        width="0"
        style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
