

/**
 * Basic styling
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 400 1rem $body-font-family;
  letter-spacing: 0.06rem;
  line-height: 1.54;
  color: $black;
  background: $white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // @include background('/assets/svgs/bg-elements.svg');

  @include media(small_only) {
    background-image: none;
  }
}

/**
 * Images
 */
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}


/**
 * Figures
 */
figure {
  width: 100%;
  margin: 0 auto;
  position: relative;
  clear: both;
  outline: 0;
  box-sizing: border-box;
  user-select: auto;
  z-index: 100;

  > img {
    display: block;
    margin: 0 auto;
  }
}

figcaption {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  color: rgba($black, .6);
  outline: 0;
  text-align: center;
  font-size: 14px;
  margin: 10px auto 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  display:flex;
  align-items: center;
  font-weight: 700;
  line-height: 1.3em;

  code {
    font-size: .8em;
  }
}

.h1 {
  @extend h1;
}
.h2 {
  @extend h2;
}
.h3 {
  @extend h3;
}
.h4 {
  @extend h4;
}

h1 {
 font-size:2.625rem
}

h2 {
 font-size:1.625rem
}

h3 {
 font-size:1.375rem
}

h4 {
 font-size:1.125rem
}

@media(max-width:684px) {
 h1 {
  font-size:2rem
 }

 h2 {
  font-size:1.4rem
 }

 h3 {
  font-size:1.15rem
 }

 h4 {
  font-size:1.125rem
 }
}

/**
 * Paragraphs
 */
p {
  margin: 0 0 rem(30);
}

/**
 * Bolder
 */
b, strong {
  font-weight: 700;
}


/**
 * Blockquotes
 */
blockquote {
  position: relative;
  margin: rem($spacing-unit * 2) 0;
  padding: 0 2.5em;
  text-align: center;
  font-style: italic;
  font-size: rem(24);
  line-height: 1.5em;
  color: $grey-02;

  &:after, &:before {
    position: absolute;
    font-size: 4em;
    color: $orange-01;
    z-index: -1;
  }

  &:after{
    content: "”";
    right: 0px;
  }

  &:before{
    content: "“";
    left: 0px;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Horizontal Reference
 */
hr {
  box-sizing: content-box;
  height: 0;
  display: block;
  border: 0;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba($black, .4);
    position: relative;
    top: -30px;
    font-size: 1.8rem;
    letter-spacing: .6em;
  }
}

@media only screen and (max-width: 768px) {
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 1em;
  border-radius: 2px;
}

code {
  font-family: $console-font-family;
  font-size: 1rem;
  letter-spacing: -0.3px;
  padding: 1px 5px;
  white-space: normal;
}

:not(pre)>code {
    background: $grey-03;
    color: $purple-03;
    margin: 0 0.05em;
    padding: 1px 5px;
    white-space: nowrap;
}

pre {
  color: $text-code-color;
  background: $block-code-color;
  line-height: 1.35;
  overflow-x: auto;
  margin: rem(30) 0;
  white-space: pre;
  word-wrap: normal;
  box-shadow: 0 1px 1px rgba($black, 0.12);
  -webkit-overflow-scrolling: touch;

  > code {
    border-radius: 2px;
    color: $text-code-color;
    display: block;
    outline: none;
    overflow-x: auto;
    padding: 1rem;
    white-space: inherit;
  }
}

/**
 * Clearfix
 */
%clearfix,
.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Hidden
 */
.hidden {
  visibility: hidden;
  display: none;
}

/**
 * Default list
 */
.default-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/**
 * Image rounded
 */
.img-rounded {
  border-radius: 50%;
}

/**
 * Center
 */
.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center !important;
}

.text-light {
  font-weight: normal;
}

.text-base-color {
  color: $green-01;
}

/**
 * Links
 */
a {
  color: inherit;
  border-bottom: 1px solid $black;
  text-decoration: none;
  transition: all 300ms ease-in-out;

  &:active,
  &:hover {
    coloe: $blue-02;
    border-color: $blue-02;
    outline: 0;
  }
}

.website {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  @extend %clearfix;
  flex: 1;
  padding-top: rem(120);
  padding-bottom: rem(60);

  @include media(medium) {
    padding-top: rem(150);
    padding-bottom: rem(90);
  }

  @include media(large) {
    padding-top: rem(180);
  }

  @include media(x_large) {
    padding-top: rem(210);
  }
}

.container {
  position: relative;
  display: block;
  width: $content-width;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  @extend %clearfix;
}
